includes:
    - tests/phpstan/phpstan-baseline.neon

parameters:
    bootstrapFiles:
        - tests/phpstan/phpstan-bootstrap.php
    stubFiles:
        - tests/phpstan/phpstan-stubs.php
    phpVersion: 70400
    level: 5
    paths:
        - packages/reprint-server
        - packages/reprint-client
        - reprint-server-wp
    excludePaths:
        analyseAndScan:
            - reprint-server-wp/wordpress/
            - reprint-server-wp/index.php
            - reprint-server-wp/vendor/
            - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/mysql/native/
        analyse:
            - packages/reprint-server/src/class-sqlite-driver-pdo.php
            - packages/reprint-client/src/lib/mysql-query-stream/
            - reprint-server-wp/vendor/
    ignoreErrors:
        -
            message: '#^Call to an undefined method WordPress\\DataLiberation\\BlockMarkup\\BlockMarkupUrlProcessor::get_tag\(\)\.$#'
            path: packages/reprint-client/src/lib/url-rewrite/class-domain-collector.php
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - packages/reprint-server/src
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/parser
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/mysql
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/sqlite
